<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
        <clear/>
		<add key="{{cookiecutter.feed_name}}" value="https://pkgs.dev.azure.com/{{cookiecutter.organization_name}}/{{ cookiecutter.team_project_name + '/' if cookiecutter.team_project_name != '' else '' }}_packaging/{{cookiecutter.feed_name}}/nuget/v3/index.json" />
	</packageSources>
</configuration>

